In [1]:
import numpy 
import os
import ast
import pandas as pd
pd.options.mode.chained_assignment = None
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt

#from wquantiles import quantile
from openfisca_survey_manager.utils import asof
from openfisca_france_indirect_taxation.examples.utils_example import df_weighted_average_grouped
from openfisca_france_indirect_taxation.almost_ideal_demand_system.utils import add_niveau_vie_decile

In [2]:
data_path = "C:/Users/veve1/OneDrive/Documents/ENSAE 3A/Memoire MiE/Data"
output_path = "C:/Users/veve1/OneDrive/Documents/ENSAE 3A/Memoire MiE/Output"
sns.set_style("whitegrid")

In [15]:
ident_men = pd.HDFStore("C:/Users/veve1/OneDrive/Documents/ENSAE 3A/Memoire MiE/Data/data_collections/output/openfisca_indirect_taxation_data_2017.h5")['input'][['ident_men','pondmen', 'rev_disponible','ocde10','strate', 'poste_07_2_2_1_1','veh_tot','distance']]
ident_men['ident_men'] = ident_men.ident_men.astype(numpy.int64)
ident_men = add_niveau_vie_decile(ident_men)

In [8]:
summary = df_weighted_average_grouped(ident_men,'niveau_vie_decile',['rev_disponible','ocde10','poste_07_2_2_1_1','pourcentage_vehicule_essence','veh_tot','distance'])

In [13]:
summary.rename(columns={'rev_disponible' : 'Annual Disp. Income', 'ocde10' : '# consumpt. units', 'poste_07_2_2_1_1' : 'Annual fuel expenditures', 'pourcentage_vehicule_essence' : '% gasoline users', 'veh_tot' : '# of vehicules', 'distance' : 'Annual total distance travelled'})

,Annual Disp. Income,# consumpt. units,Annual fuel expenditures,% gasoline users,# of vehicules,Annual total distance travelled
niveau_vie_decile,,,,,,
1.0,11580.582852,1.506322,622.702267,0.215123,0.787827,9170.970692
2.0,18763.355840,1.538173,792.321538,0.229392,0.917391,9452.329603
3.0,22042.586374,1.495884,846.889130,0.269125,1.045368,8882.627799
4.0,25740.164076,1.515442,1019.951466,0.289436,1.155938,10289.213116
5.0,28714.647747,1.504043,1159.437752,0.331858,1.266168,9887.967958
6.0,32427.469941,1.522912,1183.474229,0.315062,1.358161,10031.616987
7.0,37089.325911,1.560947,1334.454684,0.340615,1.432189,11789.454319
8.0,42135.616874,1.558980,1289.245472,0.316044,1.486602,11402.417481
9.0,50044.466343,1.564454,1463.668022,0.356771,1.499878,11792.703260
10.0,76519.241506,1.552852,1364.585997,0.366487,1.480556,14542.014258

In [16]:
dict_strate = { 0 : 'Rural' , 1 : 'Small cities' , 2 : 'Medium cities' , 3 : 'Large cities' , 4 : 'Paris'}
ident_men['strate_2'] = ident_men['strate'].apply(lambda x : dict_strate.get(x))
for loc_type in ['Rural','Small cities', 'Medium cities', 'Large cities', 'Paris']:
    ident_men[loc_type] = ident_men['strate_2'] == loc_type

In [20]:
for loc_type in ['Rural','Small cities', 'Medium cities', 'Large cities', 'Paris']:
    ident_men[loc_type] = ident_men['strate_2'] == loc_type

In [25]:
loc_stats = df_weighted_average_grouped(ident_men, 'niveau_vie_decile',['Rural','Small cities','Medium cities','Large cities','Paris'])
for loc_type in ['Rural','Small cities', 'Medium cities', 'Large cities', 'Paris']:
    loc_stats[loc_type] = loc_stats[loc_type]*100

In [26]:
loc_stats

,Rural,Small cities,Medium cities,Large cities,Paris
niveau_vie_decile,,,,,
1.0,17.614067,16.981002,18.552633,32.411978,14.440319
2.0,20.715136,16.677531,21.611835,27.362078,13.633419
3.0,22.983803,19.556482,20.496759,25.679958,11.282999
4.0,24.807945,19.881618,21.888301,22.151308,11.270828
5.0,25.913475,19.619451,20.439253,22.705754,11.322066
6.0,24.029135,19.511101,19.025961,23.251152,14.182650
7.0,22.818435,18.158828,21.060238,22.705668,15.256831
8.0,22.035664,17.062828,18.161386,26.282099,16.458023
9.0,19.377253,16.641240,15.382855,26.224756,22.373896
10.0,14.806492,15.252394,14.772441,24.846966,30.321707

In [24]:
for loc_type in ['Rural','Small cities', 'Medium cities', 'Large cities', 'Paris']:
    loc_stats[loc_type] = loc_stats[loc_type]*100